@font-face {
  font-family: HelveticaNeueLTPro-BdCn;
  src: url(../fonts/HelveticaNeueLTPro-BdCn.ttf); }
@font-face {
  font-family: HelveticaNeueLTPro-LtCn;
  src: url(../fonts/HelveticaNeueLTPro-LtCn.ttf); }
* {
  box-sizing: border-box; }

body {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0; }

ul {
  list-style-type: none;
  padding: 0 30px 0 0; }

header {
  position: fixed;
  top: 0px;
  width: 100%; }

a {
  text-decoration: none; }

#section1 {
  background-color: #EC7063; }

#section2 {
  background-color: #5DADE2; }

#section3 {
  background-color: #82E0AA; }

#section4 {
  background-color: #F4D03F; }

#section5 {
  background-color: #BB8FCE; }

#section6 {
  background-color: #5D6D7E; }

#fp-nav ul li:before {
  content: "";
  height: 600%;
  border-left: 1px solid white;
  position: absolute;
  margin-left: 7px;
  margin-top: -225%;
  z-index: -1; }

#fp-nav ul li, .fp-slidesNav ul li {
  margin: 200% 4px; }

#fp-nav ul li a span, .fp-slidesNav ul li a span {
  height: 8px;
  width: 8px;
  margin: -4px 0 0 -4px;
  background: white; }

#fp-nav ul li a.active span, .fp-slidesNav ul li a span {
  border-radius: 50%;
  background-color: #be0811;
  background-clip: content-box;
  padding: 2px;
  height: 16px;
  width: 16px;
  margin: -8px 0 0 -8px;
  /* remove if you don't care about IE8 */
  border: 1px solid white;
  text-align: center; }

#fp-nav ul li:hover a.active span, .fp-slidesNav ul li:hover a span {
  margin: -8px 0px 0px -8px;
  height: 16px;
  width: 16px; }

/*-------------------
--- Dropdown menu ---
-------------------*/
#main-nav {
  float: right;
  font-size: 20px; }
  #main-nav .hamburger, #main-nav .cross {
    display: none; }
  #main-nav ul.first-level {
    padding: 0;
    margin: 0;
    text-align: center; }
    #main-nav ul.first-level li {
      position: relative;
      font-family: HelveticaNeueLTPro-BdCn, sans-serif;
      font-size: 26px;
      text-transform: uppercase;
      display: inline-block;
      padding: 10px; }
      #main-nav ul.first-level li a {
        color: white; }
      #main-nav ul.first-level li a:hover, #main-nav ul.first-level li a:active {
        color: #be0811; }
      #main-nav ul.first-level li ul.dropdown {
        padding: 0px; }
        #main-nav ul.first-level li ul.dropdown li {
          padding: 3px;
          display: block;
          text-transform: capitalize; }
          #main-nav ul.first-level li ul.dropdown li a {
            display: block;
            padding: 0px 0px;
            font-family: HelveticaNeueLTPro-LtCn, sans-serif;
            font-size: 21px;
            line-height: 24px; }
          #main-nav ul.first-level li ul.dropdown li a:hover, #main-nav ul.first-level li ul.dropdown li a:active {
            display: block;
            padding: 0px 0px;
            font-family: HelveticaNeueLTPro-BdCn, sans-serif;
            font-size: 24px;
            line-height: 24px; }
      #main-nav ul.first-level li ul.dropdown {
        display: none; }

#logo {
  float: left; }

@media screen and (min-width: 1024px) {
  #main-nav {
    margin-top: 80px;
    margin-right: 100px;
    padding: 0;
    float: right;
    font-size: 20px; }
    #main-nav .hamburger, #main-nav .cross {
      display: none; }
    #main-nav ul.first-level {
      padding: 0;
      margin: 0; }
      #main-nav ul.first-level li {
        position: relative;
        font-family: HelveticaNeueLTPro-BdCn, sans-serif;
        font-size: 26px;
        text-transform: uppercase;
        display: inline-block;
        padding: 10px; }
        #main-nav ul.first-level li .dropdown {
          position: absolute;
          left: 50%;
          transform: translate(-50%, 0);
          padding: 0px;
          width: 150%; }
      #main-nav ul.first-level li:hover ul.dropdown {
        display: block; }

  #logo {
    position: relative;
    margin-top: 55px;
    margin-left: 90px; }

  .background {
    height: 100vh;
    position: absolute;
    overflow: auto;
    padding: 265px 0 0 90px;
    text-align: left; }
    .background .background-collapse {
      display: none; } }
@media screen and (max-width: 1024px) {
  #main-nav {
    text-align: right; }
    #main-nav .hamburger, #main-nav .cross {
      display: block;
      padding-top: 30px;
      padding-right: 25px; }
    #main-nav ul.first-level {
      display: none;
      position: absolute;
      text-align: center;
      left: 50%;
      transform: translate(-50%, 0); }
      #main-nav ul.first-level li {
        display: block; }
        #main-nav ul.first-level li ul.dropdown {
          display: none;
          text-align: center;
          position: static; }
          #main-nav ul.first-level li ul.dropdown li {
            text-align: center;
            display: none; }

  #logo {
    position: relative;
    margin-top: 20px;
    margin-left: 25px;
    height: 40px; }
    #logo img {
      height: 100%;
      width: auto; }

  .background .background-collapse {
    display: block;
    width: 100%;
    height: auto; }
  .background .content {
    padding-left: 30px; } }
#secondary-nav {
  position: fixed;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  width: 62px;
  text-align: center;
  background-color: white;
  -webkit-box-shadow: 0 0 8px #888;
  -moz-box-shadow: 0 0 8px #888;
  box-shadow: 0 0 8px #888; }
  #secondary-nav ul {
    margin: 0px;
    padding: 0px; }
    #secondary-nav ul li {
      padding: 18px 12px;
      position: relative; }
  #secondary-nav .fas {
    color: #b2b2b2; }
  #secondary-nav li:hover .fas {
    color: #be0811; }
  #secondary-nav li + li:before {
    content: "";
    position: absolute;
    height: 1px;
    background: #3c8dbc;
    background-image: linear-gradient(to right, white, #b2b2b2, white);
    width: 65%;
    margin-top: -32%;
    margin-left: -10px; }
  #secondary-nav .tooltip {
    font-family: HelveticaNeueLTPro-BdCn, sans-serif;
    font-size: 18px;
    visibility: hidden;
    width: 300%;
    background-color: white;
    color: #be0811;
    position: absolute;
    padding: 15px 20px;
    right: 110%;
    top: 2px;
    opacity: 0;
    transition: opacity 0.3s;
    -webkit-box-shadow: 0 0 8px #888;
    -moz-box-shadow: 0 0 8px #888;
    box-shadow: 0 0 8px #888; }
  #secondary-nav li:hover .tooltip {
    visibility: visible;
    opacity: 1; }

/*# sourceMappingURL=app.css.map */
